<%= form_with model: @post do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
 
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
 
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
 
  <%= f.submit %>
<% end %>
